{{#if showHistoryButton}}
  <button {{action "showSavedAudits"}}> &lt; </button>
{{/if}}

{{header-title model=audit}}

<p>{{audit.description}}</p>

{{section-list sections=audit.sections audit=audit}}

<button {{action "finishAudit"}}>
  Finish
</button>
