{{header-title model=audit}}

{{audit-description model=audit}}

{{section-item section=audit.headerSection audit=audit}}

{{section-list sections=audit.sections audit=audit}}

<button {{action "finishAudit"}}>
  Save & Finish
</button>
