{{header-title model=audit}}

{{audit-description model=audit}}

{{section-item section=audit.headerSection audit=audit}}

{{section-list sections=audit.sections audit=audit}}


<div class="row">
  <div class="col col-12">
    <div class="submit">
      <button {{action "finishAudit"}}>
        Save & Finish
      </button>
    </div>
  </div>
</div>
